<h3>M'enregistrer</h3>
<form [formGroup]="registerForm">
    <div class="form-group">
        <label for="lastname">Nom de famille</label>
        <input class="form-control" id="lastname" type="text" formControlName="lastname">
    </div>

    <div class="form-group">
        <label for="firstname">Prénom</label>
        <input class="form-control" id="firstname" type="text" formControlName="firstname">
    </div>

    <div class="form-group">
        <div>Genre :</div>
        <input id="male" type="radio" value="h" formControlName="gender">
        <label for="male">Homme</label>
        <input id="female" type="radio" value="f" formControlName="gender">
        <label for="female">Femme</label>
        <input id="other" type="radio" value="a" formControlName="gender">
        <label for="other">Autre</label>
    </div>

    <div class="form-group">
        <label for="birthdate">Date de Naissance</label>
        <input class="form-control" id="birthdate" type="date" formControlName="birthdate">
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" id="email" type="email" formControlName="email">
    </div>

    <div class="form-group">
        <label for="nationality">Nationalité</label>
        <select class="form-control" id="nationality" formControlName="nationality">
            <option value="be">Belge</option>
            <option value="fr">Française</option>
            <option value="nl">Néerlandaise</option>
            <option value="en">Anglaise</option>
            <option value="it">Italienne</option>
        </select>
    </div>
</form>
