<form [formGroup]="form">
    <div class="form-group">
        <label for="dateNaiss">Date de naissance</label>
        <input id="dateNaiss" 
               class="form-control" 
               type="date" 
               formControlName="dateNaissance">
        <app-error [control]="form.get('dateNaissance')"></app-error>
    </div>
    <div class="form-group">
        <label for="regNat">Registre Nat.</label>
        <input id="regNat" 
               class="form-control" 
               type="text"
               formControlName="regNat">
        <app-error [control]="form.get('regNat')"></app-error>
    </div>
</form>