<h3>Directives personnelles</h3>

<p>Lorem ipsum dolor sit <span appHighline>amet</span> consectetur adipisicing elit. Quidem voluptatum sed nemo amet ipsum, ratione rem molestiae delectus eveniet enim officia libero. Mollitia commodi vel temporibus iste tenetur magnam voluptatem?</p>
<p>Lorem ipsum dolor sit <span appHighline>amet</span> consectetur adipisicing elit. Neque sapiente doloribus officiis ex tempore illo repellendus quae, suscipit magni, dolor ducimus pariatur, quos nihil et eius odit officia voluptatibus ratione.</p>
<p>Totam ducimus, natus sed aut eligendi tempora ratione voluptas <span appHighline>ullam</span> fugiat optio eaque. Sunt, accusantium, omnis repudiandae veritatis quod quasi et labore esse similique culpa ipsam odio qui iste molestias.</p>
<p>Quo sunt itaque nam <span appHighline>adipisci</span>, ipsa, modi magni ratione eius, voluptate dolore ad nesciunt aliquam molestias porro consequuntur cumque! Dolorum atque enim dolore fuga minima magni esse quis, tempore velit.</p>
<p>Magnam facilis modi eum ratione asperiores consequuntur quo laboriosam, ducimus <span appHighline>repellendus</span> voluptas ut corrupti. Modi cum vero voluptatem culpa illum, veritatis a earum maxime iste cupiditate cumque tempore vel molestias?</p>

<ul appAddLine></ul>
<ol appAddLine></ol>