<!-- nav>ul>li*3>a>div -->
<nav>
    <!-- <ul>
        <li>
            <a routerLink="/">
                <div>Accueil</div>
            </a>
        </li>
        <li>
            <a routerLink="/demo">
                <div>Démonstrations</div>
            </a>
        </li>
        <li>
            <a routerLink="/demo/binding">
                <div>Démo - Bindings</div>
            </a>
        </li>
        <li>
            <a routerLink="/demo/pipe">
                <div>Démo - Pipes</div>
            </a>
        </li>
        <li>
            <a routerLink="/demo/interval">
                <div>Démo - Interval (JS)</div>
            </a>
        </li>
        <li>
            <a routerLink="/demo/directCompo">
                <div>Démo - Directives de Composant</div>
            </a>
        </li>
        <li>
            <a routerLink="/demo/directStruct">
                <div>Démo - Directives structurelles</div>
            </a>
        </li>
        <li>
            <a routerLink="/demo/directCustom">
                <div>Démo - Directives personnel</div>
            </a>
        </li>
        <li>
            <a routerLink="/exo">
                <div>Exercices</div>
            </a>
        </li>
        <li>
            <a routerLink="/exo/chrono">
                <div>Exercice 01 - Chronomètre</div>
            </a>
        </li>
    </ul> -->
    <ul>
        <li *ngFor="let menuItem of menu">
            <ng-container *ngIf="menuItem.children; else noChild">
                {{menuItem.title}}
                <ul *ngIf="menuItem.children && menuItem.children.length > 0">
                    <li *ngFor="let menuItemChild of menuItem.children">
                        <ng-container *ngIf="menuItem.url && menuItemChild.url; else noUrl">
                            <a [routerLink]="menuItem.url + menuItemChild.url">
                                <div>{{menuItemChild.title}}</div>
                            </a>
                        </ng-container>
                        <ng-template #noUrl>
                            {{menuItemChild.title}}
                        </ng-template>
                    </li>
                </ul>
            </ng-container>
            <ng-template #noChild>
                <a [routerLink]="menuItem.url">
                    <div>{{menuItem.title}}</div>
                </a>
            </ng-template>
        </li>
    </ul>
</nav>
