<!-- nav>ul>li*3>a>div -->
<nav>
    <ul>
        <li>
            <a routerLink="/">
                <div>Accueil</div>
            </a>
        </li>
        <li>
            <a routerLink="/demo">
                <div>Démonstrations</div>
            </a>
        </li>
        <li>
            <a routerLink="/demo/binding">
                <div>Démo - Bindings</div>
            </a>
        </li>
        <li>
            <a routerLink="/demo/pipe">
                <div>Démo - Pipes</div>
            </a>
        </li>
        <li>
            <a routerLink="/demo/interval">
                <div>Démo - Interval (JS)</div>
            </a>
        </li>
        <li>
            <a routerLink="/exo">
                <div>Exercices</div>
            </a>
        </li>
    </ul>
</nav>
